// Importiere das `map` SASS Kompilermodul.
@use "sass:map";

// Dieses Mixin definiert die Farben eines Next-Gen App Themes.
@mixin next-gen-theme-colors($layout, $primary, $secondary, $tertiary) {
	// Deklariere die Next-Gen Theme Variablen im 'Root'-Pseudoelement.
	@at-root :root {
		$primaryTextColors: map.get($primary, 'text');
		$secondaryTextColors: map.get($secondary, 'text');
		$tertiaryTextColors: map.get($tertiary, 'text');
		$layoutTextColors: map.get($layout, 'text');

		--next-gen-theme-layout-color-1: #{map.get($layout, 1)};
		--next-gen-theme-layout-color-2: #{map.get($layout, 2)};
		--next-gen-theme-layout-color-3: #{map.get($layout, 3)};
		--next-gen-theme-layout-color-4: #{map.get($layout, 4)};
		--next-gen-theme-layout-color-5: #{map.get($layout, 5)};
		--next-gen-theme-layout-color-6: #{map.get($layout, 6)};
		--next-gen-theme-layout-color-7: #{map.get($layout, 7)};

		--next-gen-theme-layout-text-color-1: #{map.get($layoutTextColors, 1)};
		--next-gen-theme-layout-text-color-2: #{map.get($layoutTextColors, 2)};
		--next-gen-theme-layout-text-color-3: #{map.get($layoutTextColors, 3)};
		--next-gen-theme-layout-text-color-4: #{map.get($layoutTextColors, 4)};
		--next-gen-theme-layout-text-color-5: #{map.get($layoutTextColors, 5)};
		--next-gen-theme-layout-text-color-6: #{map.get($layoutTextColors, 6)};
		--next-gen-theme-layout-text-color-7: #{map.get($layoutTextColors, 7)};

		--next-gen-theme-primary-color-1: #{map.get($primary, 1)};
		--next-gen-theme-primary-color-2: #{map.get($primary, 2)};
		--next-gen-theme-primary-color-3: #{map.get($primary, 3)};
		--next-gen-theme-primary-color-4: #{map.get($primary, 4)};
		--next-gen-theme-primary-color-5: #{map.get($primary, 5)};
		--next-gen-theme-primary-color-6: #{map.get($primary, 6)};

		--next-gen-theme-primary-text-color-1: #{map.get($primaryTextColors, 1)};
		--next-gen-theme-primary-text-color-2: #{map.get($primaryTextColors, 2)};
		--next-gen-theme-primary-text-color-3: #{map.get($primaryTextColors, 3)};
		--next-gen-theme-primary-text-color-4: #{map.get($primaryTextColors, 4)};
		--next-gen-theme-primary-text-color-5: #{map.get($primaryTextColors, 5)};
		--next-gen-theme-primary-text-color-6: #{map.get($primaryTextColors, 6)};

		--next-gen-theme-secondary-color-1: #{map.get($secondary, 1)};
		--next-gen-theme-secondary-color-2: #{map.get($secondary, 2)};

		--next-gen-theme-secondary-text-color-1: #{map.get($secondaryTextColors, 1)};
		--next-gen-theme-secondary-text-color-1: #{map.get($secondaryTextColors, 2)};

		--next-gen-theme-tertiary-color-1: #{map.get($tertiary, 1)};
		--next-gen-theme-tertiary-color-2: #{map.get($tertiary, 2)};
		--next-gen-theme-tertiary-color-3: #{map.get($tertiary, 3)};

		--next-gen-theme-tertiary-text-color-1: #{map.get($tertiaryTextColors, 1)};
		--next-gen-theme-tertiary-text-color-2: #{map.get($tertiaryTextColors, 2)};
		--next-gen-theme-tertiary-text-color-3: #{map.get($tertiaryTextColors, 3)};
	}
}

// Tabelle der Hintergrundfarben des Next-Gen Themes.
$next-gen-layout-colors: (
	// Layoutfarbe 1: Hintergrund.
	// Class: bg-component
	1: var(--next-gen-theme-layout-color-1),

	// Layoutfarbe 2: Hintergrund Formularfelder, Buttons, etc...
	2: var(--next-gen-theme-layout-color-2),

	// Layoutfarbe 3: Hintergrund & Elementfarbe.
	3: var(--next-gen-theme-layout-color-3),

	// Layoutfarbe 4: Hintergrund & Elementfarbe.
	4: var(--next-gen-theme-layout-color-4),

	// Layoutfarbe 5: Linkfarbe Aktiv.
	5: var(--next-gen-theme-layout-color-5),

	// Layoutfarbe 6: Schriftfarbe.
	6: var(--next-gen-theme-layout-color-6),

	// Layoutfarbe 7: Hintergrund Content.
	// CLass bg-content
	7: var(--next-gen-theme-layout-color-7),

	// Textfarben.
	text: (
		// Kontrastfarbe zu Layoutfarbe 1.
		1: var(--next-gen-theme-layout-text-color-1),

		// Kontrastfarbe zu Layoutfarbe 2.
		2: var(--next-gen-theme-layout-text-color-2),

		// Kontrastfarbe zu Layoutfarbe 3.
		3: var(--next-gen-theme-layout-text-color-3),

		// Kontrastfarbe zu Layoutfarbe 4.
		4: var(--next-gen-theme-layout-text-color-4),

		// Kontrastfarbe zu Layoutfarbe 5.
		5: var(--next-gen-theme-layout-text-color-5),

		// Kontrastfarbe zu Layoutfarbe 6.
		6: var(--next-gen-theme-layout-text-color-6),

		// Kontrastfarbe zu Layoutfarbe 7.
		7: var(--next-gen-theme-layout-text-color-7),
	),
);

@function next-gen-layout-color($key, $text: false) {
	@if $text {
		@return map.get(map-get($next-gen-layout-colors, 'text'), $key);
	}
	@else {
		@return map.get($next-gen-layout-colors, $key);
	}
}

// Tabelle der Primärfarben des Next-Gen Themes.
$next-gen-primary-colors: (
	// Primärfarbe 1: Interaktion, Linkfarbe.
	// Class: normal
	1: var(--next-gen-theme-primary-color-1),

	// Primärfarbe 2: Interaktion 2, Pressed-State.
	// Class: pressed
	2: var(--next-gen-theme-primary-color-2),

	// Primärfarbe 3: Brand Color 1, Header.
	// Class: brand
	3: var(--next-gen-theme-primary-color-3),

	// Primärfarbe 4: Brand Color 2, Header 2.
	// Class: accent
	4: var(--next-gen-theme-primary-color-4),

	// Primärfarbe 5: Interaktion 3, Required Highlight.
	// Class: required
	5: var(--next-gen-theme-primary-color-5),

	// Primärfarbe 6: Interaktion 4, Fokusfarbe.
	// Class: focus
	6: var(--next-gen-theme-primary-color-6),

	// Textfarben.
	text: (
		// Kontrastfarbe zu Primärfarbe 1.
		1: var(--next-gen-theme-primary-text-color-1),

		// Kontrastfarbe zu Primärfarbe 2.
		2: var(--next-gen-theme-primary-text-color-2),

		// Kontrastfarbe zu Primärfarbe 3.
		3: var(--next-gen-theme-primary-text-color-3),

		// Kontrastfarbe zu Primärfarbe 4.
		4: var(--next-gen-theme-primary-text-color-4),

		// Kontrastfarbe zu Primärfarbe 5.
		5: var(--next-gen-theme-primary-text-color-5),

		// Kontrastfarbe zu Primärfarbe 6.
		6: var(--next-gen-theme-primary-text-color-6),
	),
);

@function next-gen-primary-color($key, $text: false) {
	@if $text {
		@return map.get(map-get($next-gen-primary-colors, 'text'), $key);
	}
	@else {
		@return map.get($next-gen-primary-colors, $key);
	}
}

// Tabelle der Sekundärfarben des Next-Gen Themes.
$next-gen-secondary-colors: (
	// Sekundärfarbe 1: Projekte.
	1: var(--next-gen-theme-secondary-color-1),

	// Sekundärfarbe 2: Meldungen / Formulare.
	2: var(--next-gen-theme-secondary-color-2),

	// Textfarben.
	text: (
		// Kontrastfarbe zu Sekundärfarbe 1.
		1: var(--next-gen-theme-secondary-text-color-1),

		// Kontrastfarbe zu Sekundärfarbe 2.
		2: var(--next-gen-theme-secondary-text-color-2),
	),
);

@function next-gen-secondary-color($key, $text: false) {
	@if $text {
		@return map.get(map-get($next-gen-secondary-colors, 'text'), $key);
	}
	@else {
		@return map.get($next-gen-secondary-colors, $key);
	}
}

// Tabelle der Tertiärfarben des Next-Gen Themes.
$next-gen-tertiary-colors: (
	// Tertiärfarbe 1 / Statusfarbe 1.
	1: var(--next-gen-theme-tertiary-color-1),

	2: var(--next-gen-theme-tertiary-color-2),

	3: var(--next-gen-theme-tertiary-color-3),

	// Textfarben.
	text: (
		// Kontrastfarbe zu Tertiärfarbe 1.
		1: var(--next-gen-theme-tertiary-text-color-1),

		// Kontrastfarbe zu Tertiärfarbe 2.
		2: var(--next-gen-theme-tertiary-text-color-2),

		// Kontrastfarbe zu Tertiärfarbe 3.
		3: var(--next-gen-theme-tertiary-text-color-3)
	),
);

@function next-gen-tertiary-color($key, $text: false) {
	@if $text {
		@return map.get(map-get($next-gen-tertiary-colors, 'text'), $key);
	}
	@else {
		@return map.get($next-gen-tertiary-colors, $key);
	}
}

// Tabelle der Farben für die Steuerelemente im aktuellen Next-Gen Theme.
$next-gen-control-colors: (
	// Farbe für Schaltflächen, Checkboxen und Radio Buttons im Normalzustand.
	normal: next-gen-primary-color(1),

	// Akzentfarbe für Controls.
	accent: next-gen-primary-color(4),

	// Hintergrundfarbe für Muss-Felder.
	required: next-gen-primary-color(5),

	// Farbe für Schaltflächen, Checkboxen und Radio Buttons welche gerade Betätigt werden oder fokkusiert sind.
	pressed: next-gen-primary-color(2),

	// Farbe für Schaltflächen sowie den Ripple-Effekt von Checkboxen und Radio Buttons wenn sich der Mauszeiger direkt
	// darüber befindet.
	hover: next-gen-primary-color(5),

	// Farbe für Schaltflächen sowie den Ripple-Effekt von Checkboxen und Radio Buttons wenn diese aktuell fokussiert
	// sind.
	focus: next-gen-primary-color(6),

	// Farbe für Schaltflächen, Checkboxen und Radio Buttons welche deaktiviert sind.
	disabled: #AEB4BB,

	// Textfarben.
	text: (
		normal: next-gen-primary-color(1, true),
		accent: next-gen-primary-color(4, true),
		required: next-gen-primary-color(5, true),
		pressed: next-gen-primary-color(2, true),
		hover: next-gen-primary-color(5, true),
		focus: next-gen-primary-color(6, true),
		disabled: black,
		link: next-gen-primary-color(1, true),
	),
);

@function next-gen-control-color($key, $text: false) {
	@if $text {
		@return map.get(map-get($next-gen-control-colors, 'text'), $key);
	}
	@else {
		@return map.get($next-gen-control-colors, $key);
	}
}

// Tabelle der Farben für Links im aktuellen Next-Gen Theme.
$next-gen-link-colors: (
	normal: next-gen-primary-color(1),

	active: next-gen-layout-color(5),

	hover: next-gen-primary-color(2),

	// Textfarben.
	text: (
		normal: next-gen-primary-color(1, true),
		active: next-gen-layout-color(5, true),
		hover: next-gen-primary-color(5, true),
	)
);

@function next-gen-link-color($key, $text: false) {
	@if $text {
		@return map.get(map-get($next-gen-link-colors, 'text'), $key);
	}
	@else {
		@return map.get($next-gen-link-colors, $key);
	}
}

//#region Compatibility.

@mixin next-gen-material-theme() {
	$bi-palette-primary: (
		50: #e7f1ef,
		100: #c2ddd7,
		200: #9ac7bd,
		300: #71b0a2,
		400: #529f8e,
		500: next-gen-primary-color(1),
		600: #2f8672,
		700: #277b67,
		800: #21715d,
		900: #155f4a,
		A100: #98ffe0,
		A200: #65ffd0,
		A400: #32ffc1,
		A700: #19ffb9,
		contrast: (
			50: #000000,
			100: #000000,
			200: #000000,
			300: #000000,
			400: #000000,
			500: #ffffff,
			600: #ffffff,
			700: #ffffff,
			800: #ffffff,
			900: #ffffff,
			A100: #000000,
			A200: #000000,
			A400: #000000,
			A700: #000000,
		),
	);

	$bi-palette-secondary: (
		50: #e7faf5,
		100: #c3f4e5,
		200: #9cecd4,
		300: #74e4c3,
		400: #56dfb6,
		500: next-gen-primary-color(4),
		600: #32d5a2,
		700: #2bcf98,
		800: #24ca8f,
		900: #17c07e,
		A100: #f3fffa,
		A200: #c0ffe5,
		A400: #8dffcf,
		A700: #74ffc5,
		contrast: (
			50: #000000,
			100: #000000,
			200: #000000,
			300: #000000,
			400: #000000,
			500: #000000,
			600: #000000,
			700: #000000,
			800: #000000,
			900: #000000,
			A100: #000000,
			A200: #000000,
			A400: #000000,
			A700: #000000,
		),
	);

	$bi-palette-accent: (
		50: #fff8e6,
		100: #feedc1,
		200: #fee297,
		300: #fdd66d,
		400: #fccd4e,
		500: next-gen-secondary-color(1),
		600: #fcbe2a,
		700: #fbb623,
		800: #fbaf1d,
		900: #faa212,
		A100: #ffffff,
		A200: #fffaf4,
		A400: #ffe6c1,
		A700: #ffdba7,
		contrast: (
			50: #000000,
			100: #000000,
			200: #000000,
			300: #000000,
			400: #000000,
			500: #000000,
			600: #000000,
			700: #000000,
			800: #000000,
			900: #000000,
			A100: #000000,
			A200: #000000,
			A400: #000000,
			A700: #000000,
		),
	);

	$bi-palette-ok: (
		50 : #edf5e6,
		100 : #d2e7c0,
		200 : #b5d796,
		300 : #97c76b,
		400 : #80bb4c,
		500 : #6aaf2c,
		600 : #62a827,
		700 : #579f21,
		800 : #4d961b,
		900 : #3c8610,
		A100 : #d0ffb8,
		A200 : #adff85,
		A400 : #8bff52,
		A700 : #7aff39,
		contrast: (
			50 : #000000,
			100 : #000000,
			200 : #000000,
			300 : #000000,
			400 : #000000,
			500 : #000000,
			600 : #000000,
			700 : #ffffff,
			800 : #ffffff,
			900 : #ffffff,
			A100 : #000000,
			A200 : #000000,
			A400 : #000000,
			A700 : #000000,
		),
	);

	// Define the palettes for your theme using the Material Design palettes available in palette.scss
	// (imported above). For each palette, you can optionally specify a default, lighter, and darker
	// hue. Available color palettes: https://material.io/design/color/
	$bi-theme-primary: mat-palette($bi-palette-primary);
	$bi-theme-secondary: mat-palette($bi-palette-secondary);
	$bi-theme-app-accent: mat-palette($bi-palette-accent);
	$bi-theme-ok: mat-palette($bi-palette-ok);

	// The warn palette is optional (defaults to red).
	$bi-theme-app-warn: mat-palette($mat-red);

	// Create the theme object. A theme consists of configurations for individual
	// theming systems such as `color` or `typography`.
	$bi-theme-app-theme: mat-light-theme(
		(
			color: (
				primary: $bi-theme-primary,
				secondary: $bi-theme-secondary,
				accent: $bi-theme-app-accent,
				warn: $bi-theme-app-warn,
				ok: $bi-theme-ok,
			),
		)
	);

	// Include theme styles for core and each component used in your app.
	// Alternatively, you can import and @include the theme mixins for each component
	// that you are using.
	@include angular-material-theme($bi-theme-app-theme);

	.mat-secondary {
		background: mat-color($bi-theme-secondary);
		color: mat-contrast($bi-theme-secondary, A100);
	}

	.mat-secondary-2 {
		background: next-gen-primary-color(3);
		color: black;
	}
}

//#endregion
