.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.hover\:bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}

.rounded-full {
  border-radius: 9999px;
}

.border-none {
  border-style: none;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.items-center {
  align-items: center;
}

.content-center {
  align-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-grow {
  flex-grow: 1;
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.h-10 {
  height: 2.5rem;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.m-0 {
  margin: 0px;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-1\.5 {
  margin-bottom: 0.375rem;
}

.max-w-full {
  max-width: 100%;
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.overflow-y-auto {
  overflow-y: auto;
}

.p-0 {
  padding: 0px;
}

.p-4 {
  padding: 1rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pr-0 {
  padding-right: 0px;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pb-1\.5 {
  padding-bottom: 0.375rem;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.resize {
  resize: both;
}

* {
  --tw-shadow: 0 0 #0000;
}

* {
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

.text-black {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgba(220, 38, 38, var(--tw-text-opacity));
}

.hover\:text-gray-800:hover {
  --tw-text-opacity: 1;
  color: rgba(31, 41, 55, var(--tw-text-opacity));
}

.align-middle {
  vertical-align: middle;
}

.invisible {
  visibility: hidden;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.w-10 {
  width: 2.5rem;
}

.w-1\/2 {
  width: 50%;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.w-max {
  width: -webkit-max-content;
  width: max-content;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-10 {
  gap: 2.5rem;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.col-span-4 {
  grid-column: span 4 / span 4;
}

.col-span-5 {
  grid-column: span 5 / span 5;
}

.col-span-6 {
  grid-column: span 6 / span 6;
}

.col-span-10 {
  grid-column: span 10 / span 10;
}

.col-span-12 {
  grid-column: span 12 / span 12;
}

.col-start-1 {
  grid-column-start: 1;
}

.col-start-2 {
  grid-column-start: 2;
}

.col-start-3 {
  grid-column-start: 3;
}

.col-start-4 {
  grid-column-start: 4;
}

.col-start-5 {
  grid-column-start: 5;
}

.col-start-6 {
  grid-column-start: 6;
}

.col-start-7 {
  grid-column-start: 7;
}

.col-start-8 {
  grid-column-start: 8;
}

.col-start-9 {
  grid-column-start: 9;
}

.col-start-10 {
  grid-column-start: 10;
}

.col-start-11 {
  grid-column-start: 11;
}

.col-start-12 {
  grid-column-start: 12;
}

.col-start-13 {
  grid-column-start: 13;
}

.transform {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-75 {
  --tw-scale-x: .75;
  --tw-scale-y: .75;
}

.-rotate-90 {
  --tw-rotate: -90deg;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

.filter {
  --tw-blur: var(--tw-empty,/*!*/ /*!*/);
  --tw-brightness: var(--tw-empty,/*!*/ /*!*/);
  --tw-contrast: var(--tw-empty,/*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
  --tw-invert: var(--tw-empty,/*!*/ /*!*/);
  --tw-saturate: var(--tw-empty,/*!*/ /*!*/);
  --tw-sepia: var(--tw-empty,/*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur {
  --tw-blur: blur(8px);
}

.max-w-50 {
  max-width: 50%;
}

.min-w-1024px {
  min-width: 1024px;
}

.w-40px {
  width: 40px;
}

.h-40px {
  height: 40px;
}

.mb-20px {
  margin-bottom: 20px;
}

.mt-20px {
  margin-top: 20px;
}

.gap-10px {
  gap: 10px;
}

.gap-x-10px {
  column-gap: 10px;
}

.gap-x-20px {
  column-gap: 20px;
}

.gap-y-10px {
  row-gap: 10px;
}

.border-0-imp {
  border-radius: 0 !important;
}

.grid-cols-form {
  grid-template-columns: 1fr 2fr;
}

@media (min-width: 1280px) {
  .grid-cols-form {
    grid-template-columns: 336px 1fr;
  }
}

.beilagen-form {
  display: hidden;
  height: 0px;
}

@media (min-width: 1280px) {
  .beilagen-form {
    display: block;
    height: 100%;
  }
}

.grid-cols-dialog-anbieter {
  grid-template-columns: 200px auto;
}

.grid-cols-auto-2 {
  grid-template-columns: auto auto;
}

.grid-cols-1-2 {
  grid-template-columns: 1fr 2fr;
}

.grid-cols-16 {
  grid-template-columns: repeat(16, minmax(0, 1fr));
  column-gap: 10px;
}

.grid-cols-dt {
  grid-template-columns: repeat(16, minmax(0, 1fr)) 50px;
  column-gap: 10px;
}

.grid-cols-ta-liste {
  grid-template-columns: 3fr 2fr 1fr 1fr 1fr 1fr 1fr 30px 1fr repeat(5, 30px) 50px;
  column-gap: 10px;
}

.col-span-13	{
  grid-column: span 13 / span 13;
}

.col-span-14	{
  grid-column: span 14 / span 14;
}

.col-start-13	{
  grid-column-start: 13;
}

.col-end-13	{
  grid-column-end: 13;
}

.col-start-14	{
  grid-column-start: 14;
}

.col-end-14	{
  grid-column-end: 14;
}

.col-start-15	{
  grid-column-start: 15;
}

.col-end-15	{
  grid-column-end: 15;
}

.col-start-16	{
  grid-column-start: 16;
}

.col-end-16	{
  grid-column-end: 16;
}

.col-start-17	{
  grid-column-start: 17;
}

.col-label-class-layout {
  /* Minimale Höhe des äusseren <div> Elementes */
  min-height: 56px;
  /* Ordne das äussere <div> Element am vertikalen Begin des Containers/der Grid-Spalte aus. */
  align-self: start;
  /* Das äussere <div> Element ist eine Flex-Box, welche den inhalt vertikal zentriert anordnet. */
  display: flex;
  flex-flow: row;
  align-items: center;
}

@media (min-width: 640px) {
  .sm\:hidden {
    display: none;
  }

  .sm\:invisible {
    visibility: hidden;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .lg\:block {
    display: block;
  }

  .lg\:visible {
    visibility: visible;
  }

  .lg\:col-span-3 {
    grid-column: span 3 / span 3;
  }

  .lg\:col-span-6 {
    grid-column: span 6 / span 6;
  }

  .lg\:col-span-9 {
    grid-column: span 9 / span 9;
  }

  .lg\:col-start-4 {
    grid-column-start: 4;
  }

  .lg\:col-start-10 {
    grid-column-start: 10;
  }
}

@media (min-width: 1280px) {
  .xl\:mt-0 {
    margin-top: 0px;
  }

  .xl\:col-span-3 {
    grid-column: span 3 / span 3;
  }

  .xl\:col-span-9 {
    grid-column: span 9 / span 9;
  }

  .xl\:col-start-10 {
    grid-column-start: 10;
  }
}

@media (min-width: 1536px) {
  .\32xl\:col-start-3 {
    grid-column-start: 3;
  }

  .\32xl\:col-start-4 {
    grid-column-start: 4;
  }
}
